﻿@inherits LayoutComponentBase

<PageTitle>SiLA2.UniversalClient.Net</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://sila2.gitlab.io/sila_base/" class="btn btn-primary mb-3" style="margin-top:15px;background-color:lightseagreen" target="_blank">More Infos</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
