﻿
.header {
    color: #0F3052;
}

.featurerow {
    background-image: linear-gradient(90deg, rgba(158,42,43,1) 0%, rgba(158,42,43,1) 30%, rgba(15,48,82,1) 100%);
}

.feature {
    color:white;
}

.featurefullqualifier {
    color: #9E2A2B;
    font-style: italic;
}

.rowheader {
    color: azure;
    background: #0F3052
}

.rowcontent {
    color: #0F3052;
    background: rgba(230,230,230,0.6);
}

.rowoutput {
    color: #9E2A2B;
    background: rgba(230,230,230,0.3);
}

.rowbutton {
    color: #0F3052;
    background-color: rgba(128, 128, 128, 0.3);
}

.delimiter {
    color: #0F3052;
    background: #9E2A2B;
}
