﻿@using BlazorBootstrap;
@using Grpc.Net.Client;
@using Newtonsoft.Json;
@using SiLA2.Communication.Services;
@using SiLA2.Frontend.Razor.Model;
@using SiLA2.Frontend.Razor.Services;
@using SiLA2.Network.Discovery.mDNS;
@using SiLA2.Server.Utils;
@using SiLA2.Utils.Network;
@using SiLA2.Utils.gRPC
@using Sila2.Org.Silastandard;

@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService
@inject IDynamicMessageService DynamicMessageService
@inject ICommandPayloadProvider CommandPayloadProvider
@inject IServerConfig ServerConfig

@if (_connectionViewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 class="header">Features</h1>
        <hr />
        <table class="table" style="width:100%">
            <tbody>
                @foreach (var feature in _serverFeatures.Values)
                {
                    <tr class="featurerow">
                        <td colspan="5">
                            <h3 class="feature">@feature.Identifier</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="featurefullqualifier">@feature.FullyQualifiedIdentifier</span>
                        </td>
                        <td colspan="3">
                            @feature.Description
                        </td>
                    </tr>
                    @if (feature.GetDefinedProperties().Count > 0)
                    {
                        <tr class="rowheader"><td colspan="2">Property</td><td colspan="2">Observable</td><td>Description</td></tr>
                        @foreach (var prop in feature.GetDefinedProperties())
                        {
                            <tr class="rowcontent">
                                <td>
                                    @prop.Identifier
                                </td>
                                <td>
                                    <button class="btn btn-primary mb-3 rowbutton" @onclick="() => Get(feature, prop)">Get</button>
                                </td>
                                <td>
                                    @prop.Observable
                                </td>
                                <td>
                                    @if (prop.Observable == FeaturePropertyObservable.Yes)
                                    {
                                        <button class="btn btn-primary mb-3 rowbutton" @onclick="() => CancelObservableProperty(feature, prop)">Cancel</button>
                                    }
                                </td>
                                <td>
                                    @prop.Description
                                </td>
                            </tr>
                            <tr class="rowoutput">
                                <td colspan="5">
                                    @foreach (var response in _responseMap[$"{feature.Identifier}~{prop.Identifier}"])
                                    {
                                        <div>@response</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    @if (feature.GetDefinedCommands().Count > 0)
                    {
                        <tr class="rowheader"><td colspan="2">Command</td><td colspan="2">Observable</td><td>Description</td></tr>
                        @foreach (var cmd in feature.GetDefinedCommands())
                        {
                            <tr class="rowcontent">
                                <td>
                                    @cmd.Identifier
                                </td>
                                <td>
                                    <button class="btn btn-primary mb-3 rowbutton" @onclick="() => Run(feature, cmd)">Run</button>
                                </td>
                                <td>
                                    @cmd.Observable
                                </td>
                                <td>
                                    @if (cmd.Observable == FeatureCommandObservable.Yes)
                                    {
                                        <button class="btn btn-primary mb-3 rowbutton" @onclick="() => CancelObservableCommand(feature, cmd)">Cancel</button>
                                    }
                                </td>
                                <td>
                                    @cmd.Description
                                </td>
                            </tr>
                            @if (cmd.Parameter != null)
                            {
                                <tr class="rowcontent">
                                    <td colspan="5">
                                        @foreach (var parameter in cmd.Parameter)
                                        {
                                            <div class="row">
                                                <div class="col-2 text-end">@parameter.Identifier (@GetParameterType(@parameter)) :</div>
                                                <div class="col-3">
                                                    <input type="text" @oninput="e => SetParameterValue(e, feature, cmd, parameter)">
                                                </div>
                                                @if (@parameter.DataType.Item.ToString() == "SiLA2.ListType" || @GetParameterType(@parameter) == "SiLA2.ConstrainedType/SiLA2.ListType")
                                                {
                                                    <div class="col-7">
                                                        Enter Parameter as JSON e.g. [ { "Value": "String" }, { "Value": "List" }, { "Value": "Example" } ] for a List of Strings
                                                    </div>
                                                }
                                                else if (@parameter.DataType.Item.ToString() == "Date" || @GetParameterType(@parameter) == "SiLA2.ConstrainedType/Date")
                                                {
                                                    <div class="col-7">
                                                        Enter Parameter as JSON e.g. { "Day": 5, "Month": 8, "Year": 2022, "Timezone": { "Hours": 2, "Minutes": 0 } }
                                                    </div>
                                                }
                                                else if (@parameter.DataType.Item.ToString() == "Time" || @GetParameterType(@parameter) == "SiLA2.ConstrainedType/Time")
                                                {
                                                    <div class="col-7">
                                                        Enter Parameter as JSON e.g.  { "Second": 56, "Minute": 34, "Hour": 12, "Timezone": { "Hours": 2, "Minutes": 0 }, "Millisecond": 789 }
                                                    </div>
                                                }
                                                else if (@parameter.DataType.Item.ToString() == "Timestamp" || @GetParameterType(@parameter) == "SiLA2.ConstrainedType/Timestamp")
                                                {
                                                    <div class="col-7">
                                                        Enter Parameter as JSON e.g. { "Second": 56, "Minute": 34, "Hour": 12, "Day": 5, "Month": 8, "Year": 2022, "Timezone": { "Hours": 2, "Minutes": 0 }, "Millisecond": 0 }
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr class="rowoutput">
                                <td colspan="5">
                                    @foreach (var response in _responseMap[$"{feature.Identifier}~{cmd.Identifier}"])
                                    {
                                        <div>@response</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <Modal @ref="_exceptionModal" Title="An Exception occurred" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true">
        <BodyTemplate>
            @_exceptionText
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Primary" @onclick="OnHideModalClick">Close</Button>
        </FooterTemplate>
    </Modal>
}

@code {
    private ConnectionViewModel _connectionViewModel;
    private Modal _exceptionModal;
    private string _exceptionText;
    private IDictionary<string, Feature> _serverFeatures = new Dictionary<string, Feature>();
    private IDictionary<string, List<string>> _responseMap = new Dictionary<string, List<string>>();
    private IDictionary<string, bool> _observableMap = new Dictionary<string, bool>();
    private IDictionary<Tuple<string, string, string>, string> _parameterMap = new Dictionary<Tuple<string, string, string>, string>();

    protected override async Task OnInitializedAsync()
    {
        var serverData = await ServerDataService.GetServerData(ServerConfig.FQHN, ServerConfig.Port, true);
        _connectionViewModel = new ConnectionViewModel(new ConnectionInfo(ServerConfig.FQHN, ServerConfig.Port), serverData);
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InvokeAsync(async () =>
            {
                _serverFeatures = await ServerDataService.GetServerFeatures(ServerConfig.FQHN, ServerConfig.Port, true);
                SetupMaps();
                StateHasChanged();
            });
        }
    }

    private async Task Get(Feature feature, FeatureProperty property)
    {
        try
        {
            var channel = await GrpcChannelProvider.GetChannel(ServerConfig.FQHN, ServerConfig.Port, true);
            if (property.Observable == FeaturePropertyObservable.No)
            {
                var result = DynamicMessageService.GetUnobservableProperty(property.Identifier, channel, feature);
                _responseMap[$"{feature.Identifier}~{property.Identifier}"].Add(JsonConvert.SerializeObject(result, Formatting.Indented));
                StateHasChanged();
            }
            else
            {
                var asyncEnumerable = DynamicMessageService.SubcribeObservableProperty(property.Identifier, channel, feature);
                await InvokeAsync(async () =>
                {
                    var enumerator = asyncEnumerable.GetAsyncEnumerator();
                    while (await enumerator.MoveNextAsync())
                    {
                        _responseMap[$"{feature.Identifier}~{property.Identifier}"].Add(JsonConvert.SerializeObject(enumerator.Current, Formatting.Indented));
                        StateHasChanged();
                        if (_observableMap[$"{feature.Identifier}~{property.Identifier}"])
                        {
                            break;
                        }
                    }
                    _observableMap[$"{feature.Identifier}~{property.Identifier}"] = false;
                });
            }
        }
        catch (Exception ex)
        {
            _exceptionText = $"{ErrorHandling.HandleException(ex)}";
            await OnShowModalClick();
        }
    }

    private void CancelObservableProperty(Feature feature, FeatureProperty property)
    {
        _observableMap[$"{feature.Identifier}~{property.Identifier}"] = true;
    }

    private async Task Run(Feature feature, FeatureCommand command)
    {
        try
        {
            var channel = await GrpcChannelProvider.GetChannel(ServerConfig.FQHN, ServerConfig.Port, true);
            await ExecuteCommand(command, feature, channel);
        }
        catch (Exception ex)
        {
            _exceptionText = $"{ErrorHandling.HandleException(ex)}";
            await OnShowModalClick();
        }
    }

    private async Task ExecuteCommand(FeatureCommand command, Feature feature, GrpcChannel channel)
    {
        var payloadMap = CommandPayloadProvider.GetPayloadMap(_parameterMap, command, feature);

        if (command.Observable == FeatureCommandObservable.No)
        {
            var result = DynamicMessageService.ExecuteUnobservableCommand(command.Identifier, channel, feature, payloadMap);
            _responseMap[$"{feature.Identifier}~{command.Identifier}"].Add(JsonConvert.SerializeObject(result, Formatting.Indented));
            StateHasChanged();
        }
        else
        {
            var asyncEnumerableTuple = DynamicMessageService.ExecuteObservableCommand(command.Identifier, channel, feature, payloadMap);

            await InvokeAsync(async () =>
            {
                var asyncEnumerator = asyncEnumerableTuple.Item2.GetAsyncEnumerator();
                while (await asyncEnumerator.MoveNextAsync())
                {
                    if (_observableMap[$"{feature.Identifier}~{command.Identifier}"])
                    {
                        _observableMap[$"{feature.Identifier}~{command.Identifier}"] = false;
                        return;
                    }

                    _responseMap[$"{feature.Identifier}~{command.Identifier}"].Add(JsonConvert.SerializeObject(asyncEnumerator.Current, Formatting.Indented));
                    StateHasChanged();

                    if (asyncEnumerator.Current.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedSuccessfully
                        || asyncEnumerator.Current.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedWithError)
                    {
                        break;
                    }
                }
                var result = DynamicMessageService.GetObservableCommandResult(asyncEnumerableTuple.Item1.CommandExecutionUUID, command.Identifier, channel, feature, asyncEnumerableTuple.Item4);
                _responseMap[$"{feature.Identifier}~{command.Identifier}"].Add(JsonConvert.SerializeObject(result, Formatting.Indented));
                StateHasChanged();
            });
        }
    }

    private void CancelObservableCommand(Feature feature, FeatureCommand command)
    {
        _observableMap[$"{feature.Identifier}~{command.Identifier}"] = true;
    }

    private void SetParameterValue(ChangeEventArgs e, Feature feature, FeatureCommand featureCommand, SiLAElement commandParameter)
    {
        _parameterMap[new Tuple<string, string, string>(feature.Identifier, featureCommand.Identifier, commandParameter.Identifier)] = e.Value.ToString();
    }

    private void SetupMaps()
    {
        foreach (var feature in _serverFeatures.Values)
        {
            foreach (var property in feature.GetDefinedProperties())
            {
                var key = $"{feature.Identifier}~{property.Identifier}";
                _responseMap.Add(key, new List<string>());
                if (property.Observable == FeaturePropertyObservable.Yes)
                {
                    _observableMap.Add(key, false);
                }
            }
            foreach (var command in feature.GetDefinedCommands())
            {
                var key = $"{feature.Identifier}~{command.Identifier}";
                _responseMap.Add(key, new List<string>());
                if (command.Observable == FeatureCommandObservable.Yes)
                {
                    _observableMap.Add(key, false);
                }
                if(command.Parameter != null)
                {
                    foreach (var parameter in command.Parameter)
                    {
                        _parameterMap.Add(new Tuple<string, string, string>(feature.Identifier, command.Identifier, parameter.Identifier), string.Empty);
                    }
                }
            }
        }
    }

    private string GetParameterType(SiLAElement commandParameter)
    {
        return commandParameter.DataType.Item.ToString() == "SiLA2.ConstrainedType" ? $"{commandParameter.DataType.Item}/{((ConstrainedType)(commandParameter.DataType.Item)).DataType.Item}" : $"{commandParameter.DataType.Item}";
    }

    private async Task OnShowModalClick()
    {
        await _exceptionModal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await _exceptionModal?.HideAsync();
    }
}
