﻿@page "/files"

@using Google.Protobuf;
@using SiLA2
@using SiLA2.Client
@using Sila2.De.Chamundi.Util.Filetransfer.V1;
@using Sila2.Org.Silastandard

@inject FileTransfer.FileTransferClient FileTransferClient;
@inject IBinaryClientService BinaryClientService;


<h3>Files</h3>
<div style="margin-top:20px">
    <InputFile OnChange="HandleFileSelected" />
    <input type="text" id="_uploadPath" @bind="_uploadPath" placeholder="Enter upload path..." />
    <Button class="btn btn-outline-primary mb-3" @onclick="UploadFile">Upload</Button>
</div>

<div style="margin-top:20px">
    <input type="text" id="_scanPath" @bind="_scanPath" />
    <Button class="btn btn-outline-primary mb-3" @onclick="() => ScanDirectory(_scanPath)">Scan Directory</Button>
</div>

<table>
    <tr>
        <td style="vertical-align:top;">
            <table>
                <thead>
                    <tr>
                        <th style="padding-bottom:20px"></th>
                        <th style="margin-left:20px;min-width:350px;padding-bottom:20px">Name</th>
                        <th style="margin-left:20px;min-width:200px;text-align:right; padding-bottom:20px">Size</th>
                        <th style="padding-left:30px;padding-bottom:20px">Operation</th>
                    </tr>
                </thead>
                @foreach (var fsi in directoryContent)
                {
                    <tr>
                        @if (fsi.Type.Equals("File"))
                        {
                            <td style="min-width:40px">
                                <i class="bi bi-file-earmark me-2" style="font-size: 1.5rem; color: #0d6efd;"></i>
                            </td>

                        }
                        else
                        {
                            <td>
                                <i class="bi bi-folder-fill me-2" style="font-size: 1.5rem; color: #ffc107;"></i>
                            </td>
                        }
                        <td style="margin-left:20px;min-width:350px">@fsi.Name</td>
                        <td style="margin-left:20px;min-width:200px;text-align:right">
                            @if (fsi.Size > 0)
                            {
                                @($"{fsi.Size} Bytes")
                            }
                        </td>

                        <td style="padding-left:30px">
                            @if (fsi.Type.Equals("File"))
                            {
                                @if (fsi.Size > 0)
                                {
                                    <Button @onclick="() => Download(fsi)" class="btn btn-outline-primary buttonstyle">Download</Button>
                                    <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" Visible="@fsi.IsDownloading" />
                                }
                            }
                            else
                            {
                                <Button @onclick="() => ScanDirectory(fsi.Name)" class="btn btn-outline-primary buttonstyle">Scan</Button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td style="vertical-align:top; padding-left:40px">
            <h4>Log</h4>
            <ul style="margin-top:20px">
                @foreach (var msg in messages)
                {
                    <li>@msg</li>
                }
            </ul>
        </td>
    </tr>
</table>



@code {
    const int CHUNK_SIZE = 1024;
    const string PARAMETER_IDENTIFIER = "de.chamundi/util/FileTransfer/v1/Command/SaveUploadedFile/Parameter/UploadParameter";

    private string _uploadPath = string.Empty;
    private string _scanPath = string.Empty;

    private List<string> messages = new();
    private List<FileSystemItem> directoryContent = new();
    private IBrowserFile _uploadFile = null;

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(async () =>
        {
            var response = await FileTransferClient.GetServerRootDirectoryAsync(new GetServerRootDirectory_Parameters());
            _scanPath = response.GetServerRootDirectoryResponse.Value;
        });
    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        _uploadFile = e.File;
    }

    private void AddMessage(string msg)
    {
        messages.Insert(0, $"{DateTime.Now}: {msg}");
    }

    // TODO: Type should be enum...
    private void AddItemMessage(string item, string type, long size)
    {
        var itemMsg = new FileSystemItem { Name = item, Type = type, Size = size };
        directoryContent.Insert(0, itemMsg);
    }

    private async Task UploadFile()
    {
        try
        {
            if (_uploadFile == null)
            {
                AddMessage("Please select upload file first.");
                return;
            }

            AddMessage($"Uploading file: {_uploadFile.Name} ({_uploadFile.Size} bytes) to destination {Path.Combine(_uploadPath, _uploadFile.Name)}");

            using var stream = _uploadFile.OpenReadStream(_uploadFile.Size);
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);

            var uploadFileBytes = memoryStream.ToArray();

            var uploadId = await BinaryClientService.UploadBinary(uploadFileBytes, CHUNK_SIZE, PARAMETER_IDENTIFIER);
            var requestParameter = new SaveUploadedFile_Parameters
                {
                    UploadFileInfo = new DataType_FileInfo
                    {
                        FileInfo = new DataType_FileInfo.Types.FileInfo_Struct
                        {
                            FileBinaryUploadUuid = new Sila2.Org.Silastandard.String { Value = uploadId },
                            Path = new Sila2.Org.Silastandard.String { Value = Path.Combine(_uploadPath, _uploadFile.Name) }
                        }
                    }
                };
            var result = await FileTransferClient.SaveUploadedFileAsync(requestParameter);
            AddMessage($"Uploading file: {_uploadFile.Name} successful.");
        }
        catch (Exception ex)
        {
            AddMessage($"Uploading file: {_uploadFile.Name} failed. {ex}");
        }
    }

    private async Task ScanDirectory(string path)
    {
        _scanPath = path;

        AddMessage($"Scanning directory '{_scanPath}' ...");

        try
        {
            var fileSystemItemsResponse = await FileTransferClient.ServerDirectoryInfosAsync(new ServerDirectoryInfos_Parameters { DirectoryPath = new Sila2.Org.Silastandard.String { Value = _scanPath } });
            directoryContent.Clear();
            foreach (var item in fileSystemItemsResponse.DirectoryItems)
            {
                AddItemMessage(item.FileSystemInfo.FullFileSystemItemPath.Value, item.FileSystemInfo.FileSystemType.Value, item.FileSystemInfo.FileSystemItemSize.Value);
            }
            AddMessage($"Scanned directory '{_scanPath}'.");
        }
        catch (Exception ex)
        {
            AddMessage($"Error scanning directory => {ex}");
        }
    }

    protected async Task Download(FileSystemItem fileSystemItem)
    {
        try
        {
            AddMessage($"Downloading file '{fileSystemItem.Name}' ...");
            fileSystemItem.IsDownloading = true;

            var prepareDownloadResponse = FileTransferClient.PrepareFileDownload(new PrepareFileDownload_Parameters { FilePath = new Sila2.Org.Silastandard.String { Value = fileSystemItem.Name } });
            var bytes = await BinaryClientService.DownloadBinary($"{prepareDownloadResponse.DownloadFileUuid.Value}", CHUNK_SIZE);
            
            var targetDir = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile), "SiLA2-Downloads");
            if (!Directory.Exists(targetDir))
            {
                Directory.CreateDirectory(targetDir);
            }
            
            var targetFile = Path.Combine(targetDir, Path.GetFileName(fileSystemItem.Name));
            
            File.WriteAllBytes(targetFile, bytes);

            AddMessage($"Downloaded file '{fileSystemItem.Name}' to destination '{targetFile}'.");
        }
        catch (Exception ex)
        {
            AddMessage($"Error downloading file => {ex}");
        }

        fileSystemItem.IsDownloading = false;
    }
}
