﻿@using BlazorBootstrap;
@inherits LayoutComponentBase

<style>
    :root {
        --bb-sidebar-width: 270px;
        --bb-sidebar-collapsed-width: 50px;
        --bb-sidebar-background-color: rgba(234, 234, 234, 1);
        --bb-sidebar-top-row-background-color: rgba(0,0,0,0.08);
        --bb-sidebar-top-row-border-color: rgb(194,192,192);
        --bb-sidebar-title-text-color: rgb(0,0,0);
        --bb-sidebar-brand-icon-color: teal;
        --bb-sidebar-brand-image-width: 24px;
        --bb-sidebar-brand-image-height: 24px;
        --bb-sidebar-title-badge-text-color: rgb(255,255,255);
        --bb-sidebar-title-badge-background-color: rgba(25,135,84,var(--bs-bg-opacity,1));
        --bb-sidebar-navbar-toggler-icon-color: rgb(0,0,0);
        --bb-sidebar-navbar-toggler-background-color: rgba(0,0,0,0.08);
        --bb-sidebar-content-border-color: rgb(194,192,192);
        --bb-sidebar-nav-item-text-color: rgba(0,0,0,0.9);
        --bb-sidebar-nav-item-text-active-color-rgb: 0,0,0;
        --bb-sidebar-nav-item-text-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
        --bb-sidebar-nav-item-text-active-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
        --bb-sidebar-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
        --bb-sidebar-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
    }
</style>

<div class="bb-page">

    <Sidebar @ref="sidebar"
             ImageSrc="silacsharp.png"
             IconName="IconName.BootstrapFill"
             Title="Server Web-Frontend"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end" style="background-color: #D8D8D8;">
            <a href="https://sila2.gitlab.io/sila_base/" class="btn btn-primary mb-3" style="margin-top:15px;background:#0F3052;" target="_blank">More Infos</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.Display, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/serverfeatures", IconName = IconName.ListStars, Text = "Features"},
            new NavItem { Id = "3", Href = "/temperature", IconName = IconName.GraphUp, Text = "Temperature"},
            new NavItem { Id = "4", Href = "/animl", IconName = IconName.CodeSlash, Text = "AnIML"},
            new NavItem { Id = "5", Href = "/files", IconName = IconName.Files, Text = "Files"},
            // new NavItem { Id = "6", Href = "/security", IconName = IconName.FileLock2, Text = "Encryption"},
            new NavItem { Id = "7", Href = "/usermanagement", IconName = IconName.PersonFillGear, Text = "User Management"},
        };

        return navItems;
    }
}